@import 'tailwindcss';

:root {
	--background: #f9fafb;
	--foreground: #171717;
	--white: #ffffff;
	--hover: #155dfc;
	--borderHover: #d8dbdf;
	--color: #4a5565;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--hover: #155dfc;
	}
}

body {
	background: var(--background);
	color: var(--color);
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
	transition: all 0.3s ease;
}
.headerItem {
	transition: all 0.3s ease;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.headerItem:hover {
	color: var(--hover);
	border-color: var(--borderHover);
}
.active {
	color: var(--hover);
	border-bottom: 2px solid var(--hover);
}

button {
	color: var(--white);
}
